.weather {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30% );
    color: #fff;
    background-color: #333;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}

.top {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 22px;
    line-height: 0;
    margin: 0;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 600;
    font-size: 24px;
    line-height: 0;
    margin: 0;
}

.weather-icon {
    width: 100px;
}

.temperature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -4px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 40px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    color: rgb(193, 193, 193);
    font-weight: 400;
    font-size: 14px;
    width: 60%;
}

.parameter-value {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    width: 40%;
}

.parameter-label.top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 140px;
    padding-bottom: 2px;
    margin-bottom: 3px;
}