.weather {
    width: 500px;
    border-radius: 20px;
    box-shadow: 10px -2px 20px 2px rgb(5 0 0 / 30%);
    color: #fff;
    background-color: rgb(62, 62, 62);
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
    transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.weather:hover {
    box-shadow: 20px -4px 40px 4px rgb(0 0 0 / 30%);
    background-color: rgb(82, 82, 82);
}

.top {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.bottomleft {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.bottomright {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.city {
    font-weight: 50;
    font-size: 20px;
    margin: 0;
    letter-spacing: 0.1px;
    padding: 0;
}

.weather-description {
    font-weight: 800;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

.weather-icon {
    width: 120px;
}

.temperature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -4px;
    margin: 10px 0;
}

.details {
    width: 100%;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    color: rgb(193, 193, 193);
    font-weight: 400;
    font-size: 16px;
    width: 60%;
}

.parameter-value {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    width: 40%;
}

.parameter-label.top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 200px;
    padding-bottom: 2px;
    margin-bottom: 3px;
    font-weight: 600;
    font-style: italic;
    font-size: 14.5px;
    color: rgb(226, 226, 226);
}